<ion-view hide-nav-bar="true" class="swift-project-login-background ">
    <ion-content scroll='false'>
        <div class="list swift-project-input-custom">
            <!-- App name -->
            <div class="swift-project-name">
            AppXpressLabs
            </div>

            <!-- Login form -->
            <div class="swift-project-loginform">
                <label class="item item-input input-custom username-border">
                    <input type="text" name="user.username" placeholder="Username" ng-model="user.username">
                </label>
                <label class="item item-input input-custom password-border">
                    <input type="password" name="user.password" placeholder="Password" ng-model="user.password">
                </label>
            </div>
            <!-- Sign in button -->
            <br> <a class="button swift-project-custom-font-color button-block button-clear" ng-click="login()"> Sign-In </a>

            <!-- App version detail -->
            <div class="swift-project-footer swift-project-custom-font-color">
                <div class="swift-project-version">
                    0.1 Beta</div>
                    <div class="swift-project-build-version">
                    (Build Number 000001)</div>
                <div class="row">
                    <div class="col">
                        <img src="img/appxpresslogo.png" style="width: 45px;">
                        <div style="">AppXpress Labs</div>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
